@charset "UTF-8";
$deep-purple-50:    #EDE7F6;
$deep-purple-100:   #D1C4E9;
$deep-purple-200:   #B39DDB;
$deep-purple-300:   #9575CD;
$deep-purple-400:   #7E57C2;
$deep-purple-500:   #673AB7;
$deep-purple-600:   #5E35B1;
$deep-purple-700:   #512DA8;
$deep-purple-800:   #4527A0;
$deep-purple-900:   #311B92;
$grey-50:           #FAFAFA;
$grey-100:          #F5F5F5;
$grey-200:          #EEEEEE;
$grey-300:          #E0E0E0;
$grey-400:          #BDBDBD;
$grey-500:          #9E9E9E;
$grey-600:          #757575;
$grey-700:          #616161;
$grey-800:          #424242;
$grey-900:          #212121;

$headerfont: 'Montserrat', Helvetica, Arial, sans-serif !important;
$bodyfont: 'Open Sans', Helvetica, Arial, sans-serif !important;

@mixin center($axis: "both"){
    position:absolute;
    @if $axis == "y"{
        top:50%;
        -webkit-transform: translateY(-50%);
        -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        -o-transform: translateY(-50%);
        transform: translateY(-50%);
    }
    @if $axis == "x"{
        left:50%;
        -webkit-transform: translateX(-50%);
        -moz-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        -o-transform: translateX(-50%);
        transform: translateX(-50%);
    }
    @if $axis == "both"{
        top:50%;
        left:50%;
        -webkit-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        -o-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    } 
}