@import 'variables';
@import 'fonts';


::selection {
    background: #673ab7;
    color: #fff;
    text-shadow: none;
}

a {
    color: $deep-purple-300;
    transition: color 0.5s ease;
    
    &:hover, &:focus {
        color: $deep-purple-700;
        text-decoration: none;
    }

    &.panel-body {
        display: block;
        
        &:hover, &:focus {
            color: $grey-50;
        }
    }
}

#transition {
    margin-top: -100vh;
    transition: background-color 1s ease, margin-top 1s ease;
    height: 100vh;
    width: 100vw; 
    position: fixed;
    z-index: 999999;
    background-color: $deep-purple-500;
}

#scrolldown {
    position: fixed;
    z-index: 1 !important;
    bottom: 5px;
    color: $grey-50;
    width: 200px;
    text-align: center;
    font-size: 1.25rem;
    right: 50%;
    margin-right: -100px;
    opacity: 0.0;
    transition: opacity 1s ease;
    
    a {
        color: $grey-50;
        
        i {
            font-size: 50px;
        }
    }
}

#spacer {
    display: none;
}

.navbar {
    background: $deep-purple-500;
    transition: opacity 0.5s ease;
    box-shadow: 0 3px 10px rgba(0,0,0,0.23),0 3px 10px rgba(0,0,0,0.16);
    
    li a {
        color: $grey-50;
        transition: text-shadow .5s ease;
        text-decoration: none;
    }

    li a:hover {
        text-decoration: none;
        text-shadow: -6px 6px 0px rgba(0,0,0,0.2),
                    0px 0px 6px rgba(255,255,255,0.7);
    }
}

.panel-primary>.panel-heading {
    background-color: $deep-purple-500 !important;
    border-color: $deep-purple-500 !important;
}

.panel-body {
    color: $grey-50;
    height: 180px;
}

.jumbotron {
    min-height: 100vh;
    color: $grey-50;
    margin-bottom: 0 !important;
    #headline {
        text-align: center;
        font-size: 15vw;
    }
    #about {
        text-align: center;
    }
    background-image: url("../assets/images/space.jpg");
    background-size: cover;
    background-position: fixed;
    background-attachment: fixed;
}

.stars {
    position: absolute;
    margin: 0;
    padding: 0;
    opacity: 0;
    transition: opacity 0.5s ease;
}

.nav-fixed {
    position: fixed;
    top: 0;
    right: 0;
    width: 100vw;
    z-index: 1049;
}

footer {
    background-color: $deep-purple-500;
    color: $grey-50;
    margin-bottom: 0;
    padding-bottom: 0;
    text-align: center;
    
    p {
        margin-bottom: 0;
        padding-bottom: 0;
    }
    
    .sociallinks {
        list-style-type: none;
        padding: 0;
        
        li a {
            color: $grey-50;
            transition: text-shadow .5s ease;
            text-decoration: none;
            font-size: 20px;
        }

        li a:hover {
            text-decoration: none;
            text-shadow: -6px 6px 0px rgba(0,0,0,0.2),
                        0px 0px 6px rgba(255,255,255,0.7);
        }
    } 

    #copyright {
        text-align: center;
        background-color: $deep-purple-700 !important;
        div {
            margin: 7px;
        }
    }

    .form-control .empty {
        color: $grey-50 !important;
        border-bottom: 1px solid $grey-50 !important;
    }
    .help-block {
        color: $grey-50 !important;
    }
    ::-webkit-input-placeholder {
       color: $grey-50 !important;
    }

    :-moz-placeholder { /* Firefox 18- */
       color: $grey-50 !important;  
    }

    ::-moz-placeholder {  /* Firefox 19+ */
       color: $grey-50 !important;  
    }

    :-ms-input-placeholder {  
       color: $grey-50 !important;  
    }
    .form-control-wrapper .form-control, .form-control {
        color: $grey-50 !important;
        border-bottom: 1px solid $grey-50 !important;
    }
    .material-input:before {
        color: $grey-50 !important;
        background-color: $grey-50 !important;
    }
    input.form-control:focus ~ .material-input:after {
        color: $grey-50 !important;
        background-color: $grey-50 !important;
    }
    textarea.form-control:focus ~ .material-input:after {
        color: $grey-50 !important;
        background-color: $grey-50 !important;
    }
    .floating-label {
        color: $grey-50 !important;
    }
    .btn-primary:not(.btn-link):not(.btn-flat) {
        background-color: $grey-50;
        color: $deep-purple-500;
    }
}

#schoolworklink {
    cursor: pointer;
}

.panel-project {
    background-size: cover !important;
}

#projects, footer {
    z-index: 10 !important;
    position: relative !important;
}